@import './node_modules/bootstrap/scss/bootstrap';

// Import Bootstrap variables
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

#firste {
    padding-left: 40px !important;
}

h1 {
    color: palegreen !important;
}

/* Navbar container */
input {
    background: url(Images/searchlogo.png) no-repeat top left ;
    
}

.dropdown.hover:hover .dropdown-menu {
    display: block;
}

#firstdrop {
    width: 800px;
    padding-right: 40px;
    
}

.f4 {
    margin-top: 10px;
    width: 300px;
    padding-right: 0%;
}

.s4{
    margin-top: 0px;
    text-align: center !important;
    max-width: 300px;
    padding-top: 0%;
    top: 0;
    margin-top: 0;
}

#searcher2 {
    border-radius: 30px;
    background: url(Images/searchlogo.png) no-repeat left 7px center;
    width: 250px;
}
