@import './node_modules/bootstrap/scss/bootstrap';

// Import Bootstrap variables
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

#firste {
}

.navele:hover {
    font-weight: bold;
    border-bottom: 2px solid red;
}

#searcher2 {
    background: url(Images/searchlogo.png) no-repeat top left ;
    
}

.dropdown.hover:hover .dropdown-menu {
    display: block;
    font-weight: bold !important;
}

#firstdrop {
    width: 800px;
    padding-right: 40px;
    
}

.f4 {
    margin-top: 10px;
    width: 300px;
    padding-right: 0%;
}

.s4{
    margin-top: 0px;
    text-align: center !important;
    max-width: 300px;
    padding-top: 0%;
    top: 0;
    margin-top: 0;
}

#searcher2 {
    border-radius: 30px;
    background: url(Images/searchlogo.png) no-repeat left 7px center;
    width: 250px;
}

top-content {
    width: 100%;
    padding: 0;
}
 
.top-content .carousel-control-prev {
    border-bottom: 0;
}
 
.top-content .carousel-control-next {
    border-bottom: 0;
}
 
.top-content .carousel-caption {
    padding-bottom: 60px;
}
 
.top-content .carousel-caption h1 {
    padding-top: 60px;
    color: #fff;
}
 
.top-content .carousel-caption h3 {
    color: #fff;
}
 
.top-content .carousel-caption .carousel-caption-description {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}
 
.top-content .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.explore {
    font-weight: normal;
}

#bestseller, #launches {
    border-bottom: 3px solid red;
}


.card1 {
  position: relative;
  width: 320px;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}



.card1::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #ffce00;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card1:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card1::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card1 .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.card1 .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card1 .contentBox h4 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.card1 .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card1 .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card1:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}

.offer {
    color: green;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    width: 90px;
}

.display {
    background-color: #ffce00;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: -30px;
    padding-bottom: -10px;
    padding-left: 10px;
    width: 130px;
}

.display2 {
    background-color: #ffce00;
    text-align: center;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: -30px;
    padding-bottom: -10px;
    width: 160px;
}

.sec1 {
    margin-left: -80px;
}

.sec2 {
    margin-left: 40px;
}
.sec3 {
    margin-left: 80px;
    padding-right: 0px;
}

.sec4 {
    padding-left: 0px;
    margin-left: 120px;
}

.overprice {
    text-decoration: line-through;
}

.offer {
    color: green;
}

.logos {
    margin-left: 300px;
    min-width: 100%;
}

.logos img {
    margin-bottom: 0px;
}

#logo2 {
    margin-left: 240px;
}

#logo3 {
    margin-left: 180px;
}

#logo4 {
    margin-left: 100px;
}

.press {
    // border: solid 2px red;
    background-color: grey;
    display: flex;
    padding-top: 0 !important;
    width: 150%;
    min-height: 300px;
    margin-left: 30px;
    margin-right: 100px;
}

.press2 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#Business_World {
    // border: solid 2px red;
    height: 100%;
    padding-top: 100px;
    vertical-align: middle !important;
    background-color: #e3e1e1bf;
    width: 40%;
}

#buss_para {
    // border: solid 2px red;
    background-color: #eeeeee;
    width: 60%;
    height: 100%;
    padding-right: 0px;
}

#buss_para_main {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: x-large;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    line-height: 1.5;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

#quote {
    padding-top: 20px;
    min-height: 60px !important;
    padding-left: 45%;
}

#footer {
    background-color: aquamarine;
}

#last {
    position: relative;
    margin-bottom: -250px;
    bottom: 0;
    width: 100%;
}

.container {
    margin-bottom: 0;
}


// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

/*.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */